li {
  list-style: none;
}

input,label {
  vertical-align: top;
}

.month, .Jan, .Feb, .Mar, .Apr, .May, .Jun, .Jul, .Aug, .Sep, .Oct, .Nov, .Dec {
  display:none;
}

input:checked ~ .month, 
input:checked ~ .Jan,
input:checked ~ .Feb, 
input:checked ~ .Mar,
input:checked ~ .Apr,
input:checked ~ .May,
input:checked ~ .Jun,
input:checked ~ .Jul,
input:checked ~ .Aug,
input:checked ~ .Sep,
input:checked ~ .Oct,
input:checked ~ .Nov,
input:checked ~ .Dec {
    display: inline-block;
}

html {
  margin:0;
}

.main {
  margin:0;
  background-image: url(../202107/img/22/1.JPG);
  font-family:Arial, Helvetica, sans-serif;
  font-size:30px;
  color:white;
}

.main a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:30px;
  color:white; 
}

header {
  display:flex;
  position:fixed;
  width:100%;
  z-index: 2;
  background-color: white;
}

header nav {
  margin-left:auto;
  margin-top:0;
  margin-bottom:0;
}

header nav ul {
  display:flex;
  margin:0;
}

header nav ul li {
  list-style: none;
  width:70px;
  margin:0 10px;
}

main {
  position:absolute;
  width:100%;
  top:30px;
  z-index: 1;
}

main img {
  width:99%;
}

main h1 {
  margin:0;
  vertical-align: top;
  margin-bottom:1px;
}

@media (max-width:599px) {
  main img {
    width:99%;
  }
}

@media (min-width:600px) and (max-width:799px) {
  main img {
    width:49%;
  }
}

@media (min-width:800px) {
  main img {
    width:24.3%;
  }
}

h1 a,p {
  margin-left:10px;
}

label,a {
  text-shadow: 1px 2px 3px #808080;
}

.month{
  font-size: 20px;
}

.month a {
  font-size: 20px;
}

.month p {
  margin:0;
}






