.container {
  border:1px solid rgb(170, 168, 168);
  width:50%;
  margin:200px auto 0 auto;
  padding:50px 0;
  border-radius:5px;

}

h1 {
  font-size:50px;
}

p {
  font-size:35px;
}

.id,.pass{
  width:45%;
  height:50px;
  font-size:20px;
}

.button {
  margin-top:20px;
  text-align: center;
}

button {
  width:45%;
  height:55px;
  font-size:20px;
  padding:0;
}