header {
  position:fixed;
  margin-left: 1000px;
  background-color: white;
  font-size:20px;
}

header a, header p {
  margin-top:0;
  margin-bottom:0;
}

img {
  width:300px;
}

@media (max-width:640px) {
  img {
    width:100%;
  }
}

@media (max-width:1200px) {
  header {
    margin-left:340px;
  }
}